// blogs

.blogs {

    &-inner {
        @include inner;
        padding-top: 5.8rem;
        padding-bottom: 4.6rem;

        @include mq(sp) {
            max-width: 500px;
            padding-top: 4rem;
        }
    }

    &-title {
        @include section-title($color-main, 3.2rem);
        padding-bottom: 6rem;

        @include mq(sp) {
            padding-bottom: 4rem;
        }
    }

    &-list {
        padding-bottom: 10.6rem;
    }

}