@import './mq';
@import '../setting/config';

@mixin category-label($line-height: 28px, $width: 80px) {
    color: #fff;
    background-color: $color-main;
    font-size: 1.2rem;
    min-width: $width;
    line-height: $line-height;
    text-align: center;
    padding: 0 0.5rem;
}