// drawer

.drawer {
    position: relative;

    &-toggle {
        cursor: pointer;
        position: absolute;
        width: 25px;
        height: 32px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 15;
        
        @include mq(pc) {
            display: none;
        }
    }

    &-icon {
        display: inline-block;
        position: absolute;
        width: 25px;
        height: 3px;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        background: $color-main;
        border-radius: 1px;
        transition: all .3s;

        &:nth-child(1) {
            top: 8px;
        
            .add-active & {
                top: 50%;
                transform: rotate(45deg);
            }
        }
        
        &:nth-child(2) {
            top: 17px;

            .add-active & {
                display: none;
            }
            
        }
        
        &:nth-child(3) {
            top: 26px;
            
            .add-active & {
                top: 50%;
                transform: rotate(-45deg);
            }
        }
    }
}